:root {
  --primary: #24305e;
  --secondary: #f76c6c;
  --tertiary: #f8e9a1;
  --primary-2: #374785;
  --primary-3: #a8d0e6;
  --text-color: #fff;
}
html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  font-family: "Montserrat", sans-serif;
}
.App {
  background-color: var(--primary-2);
  height: 100vh;
  width: 100%;
  align-items: center;
  justify-content: center;
  display: flex;
  color: var(--text-color);
}

.top-decoration {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 20px;
}
.red-decoration {
  height: 50%;
  background-color: var(--secondary);
  z-index: 1;
  position: relative;
}
.orange-decoration {
  height: 50%;
  position: relative;
  background-color: var(--tertiary);
  z-index: 2;
}

.chats {
  position: fixed;
  margin: 15px;
  left: 0px;
  border-radius: 15px;
  top: 20px;
  height: 100%;
  width: 300px;
  background-color: var(--primary);
  padding: 20px;
}

.chat {
  width: 100%;
  cursor: pointer;
  padding: 10px 0 10px 10px;
  border-radius: 5px;
  margin: 10px -5px;
}

.chat:hover {
  background-color: var(--primary-3);
  color: var(--primary);
  font-weight: bolder;
  transition: all 0.3s;
}

.direct-messages-text {
  color: var(--primary-3);
  font-size: small;
  margin-bottom: 10px;
}

.recipient-name {
  margin: 10px 55%;
  font-size: 40px;
  font-weight: bolder;
  color: var(--primary);
}

.recipient-name-container {
  margin-right: -100px;
  background-image: linear-gradient(
    to top right,
    var(--secondary),
    var(--tertiary)
  );
  border-radius: 20px;
  box-shadow: 2px 2px 2px 1px var(--primary);
}

.chat-container {
  justify-content: center;
  position: relative;
  background-color: var(--primary-1);
  height: 85%;
  margin-left: 300px;
}
.input-container {
  position: fixed;
  bottom: 20px;
  left: 25%;
  width: 53%;
  margin-left: 150px;
}
.chat-input {
  background-color: var(--primary);
  width: 90%;
  color: white;
  border-style: none;
  padding: 15px 15px 0;
  height: calc(50px-15px);
  border-radius: 10px;
  resize: none;
  outline: none;
  border: 1px solid var(--tertiary);
}

.chat-input:focus {
  outline: none;
  border: 1px solid var(--secondary);
}

.chat-button {
  margin: 5px;
  border-radius: 100%;
  border-style: none;
  background-color: var(--tertiary);
  color: var(--secondary);
  width: 50px;
  height: 50px;
  cursor: pointer;
}
.chat-button:hover {
  border-radius: 100%;
  border-style: none;
  background-color: var(--secondary);
  color: var(--tertiary);
  width: 50px;
  height: 50px;
}

.chat-area {
  background-color: var(--primary);
  height: 75vh;
  width: 120vh;
  border-radius: 10px;
  box-shadow: 2px 2px 2px 1px var(--tertiary);
}
