:root {
  /* --primary: #24305e; */
  --primary: #181414;
  --secondary: #f76c6c;
  --tertiary: #f8e9a1;
  /* --primary-2: #374785; */
  --primary-2: #1b1919;
  /* --primary-3: #a8d0e6; */
  --primary-3: #eea981;
  --text-color: #fff;
}
html,
body {
  max-height: 100vh;
  background-color: var(--primary-2);
  color: var(--text-color);
  display: flex;
  width: 100%;
  margin: 0;
  font-family: "Montserrat", sans-serif;
  padding-top: 20px;
}

.top-decoration {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 20px;
}
.red-decoration {
  height: 50%;
  background-color: var(--secondary);
  z-index: 1;
  position: relative;
}
.orange-decoration {
  height: 50%;
  position: relative;
  background-color: var(--tertiary);
  z-index: 2;
}

.sidebar {
  display: inline-block;
  width: 320px;
  padding: 10px 20px;
  background-image: linear-gradient(#f8eaa190, #f76c6c70);
  margin-top: 137px;
  height: 95.94vh;
  z-index: 100;
}

.sidebar-dashboard {
  border-radius: 15px;
  height: 15%;
  margin-top: 20px;
  background-color: var(--primary);
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.control-dock {
  /* background-color: red; */
  /* position: relative; */
  /* padding: 40px 20px 0 0; */
}

.user-settings-dock {
  display: flex;
  align-items: center;
  justify-content: center;
}

.user-icon:hover {
  opacity: 0.7;
  cursor: pointer;
  background-color: rgb(255, 255, 255);
  color: var(--primary);
  border-radius: 100%;
  transition: color 0.3s;
}

.chats {
  border-radius: 15px;
  padding: 10px;
  height: 70%;
  background-color: var(--primary);
}

.chat {
  width: 100%;
  cursor: pointer;
  padding: 10px 0 10px 10px;
  border-radius: 5px;
  margin: 10px -5px;
  display: flex;
  align-items: center;
}

.chat:hover {
  background-color: var(--primary-3);
  color: var(--primary);
  font-weight: bolder;
  transition: all 0.3s;
}

.direct-messages-text {
  color: var(--primary-3);
  font-size: small;
  margin-bottom: 10px;
}

.recipient-name {
  margin-left: 40px;
  font-size: 40px;
  font-weight: bolder;
  color: var(--text-color);
}

.recipient-name-container {
  position: absolute;
  top: 30px;
  left: 18.7%;
  width: 81.3%;
  background-color: var(--primary);
  /* border-radius: 20px; */
}

.chat-route {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
}

.chat-container {
  display: inline-block;
  background-color: var(--primary-1);
  height: 80%;
  padding: 0 30px;
}
.input-container {
  position: fixed;
  display: flex;
  bottom: 20px;
  left: 25%;
  width: 53%;
  margin-left: 150px;
  align-items: center;
}
.chat-input {
  background-color: var(--primary);
  width: 90%;
  color: white;
  border-style: none;
  padding: 15px 15px 0;
  height: calc(50px-15px);
  border-radius: 10px;
  resize: none;
  outline: none;
  border: 1px solid var(--tertiary);
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  overflow: hidden;
}

.chat-input:focus {
  outline: none;
  border: 1px solid var(--secondary);
  transition: all 0.3s;
}

.chat-button {
  margin-left: 15px;
  border-radius: 100%;
  border-style: none;
  background-color: var(--tertiary);
  color: var(--secondary);
  width: 60px;
  height: 60px;
  cursor: pointer;
}

.chat-button:hover {
  background-color: var(--secondary);
  color: var(--tertiary);
  transform: rotate(270deg);
}

.chat-area {
  background-color: var(--primary);
  height: 77vh;
  width: 150vh;
  border-radius: 10px;
  /* box-shadow: 2px 2px 2px 1px var(--tertiary); */
}
